[Unit]
Description=Alarm Service
After=syslog.target
After=network.target

[Service]
Type=simple
PIDFile=/run/alarm_service.pid
WorkingDirectory=/home/ded_moroz/Source/python/embedded_programm
ExecStart=python3 main.py
Restart=on-failure
OOMScoreAdjust=-100
User=ded_moroz
SyslogIdentifier="Alarm_service"

[Install]
WantedBy=multi-user.target
